/node_modules/
/lib/
/test/
custom-elements.json
# top level source
huss-breadcrumbs.js
huss-breadcrumbs.js.map
huss-breadcrumbs.d.ts
huss-breadcrumbs.d.ts.map
# only generated for size check
# huss-breadcrumbs.bundled.js